html {
	font-family: "Times New Roman";
}
.button {
	padding: 5px;
	text-align: center;
	float: left;
	width: 100px;
	margin: 5px;
	border: 1px solid brown;
	border-radius: 5px;
	box-shadow: 5px 5px 3px #ccc;
}
#text {
	float: left;
}
a {
	display: block;
}